html,body{
    height: 100%;
    min-height: 100vh;
    background-color: #D8DDCF !important;
    overflow: hidden;
}

h1, h2, h3, h4, h5{
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}

a{
    text-decoration: none !important;
    color: black !important;
}

.text-center{
    text-align: center;
}

li{
    width:100%;
}

.nav{
}

.nav-link{
    font-family: 'Raleway', sans-serif;
    font-size: xx-large;
    list-style-type: none;
}

#whysleep{
    text-decoration: underline 2px;
}

.outer{
  margin-top: 100px;
  display: table;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle{
    display: table-cell;
    vertical-align: middle;
}

.inner{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.btn-text{
    font-size: xx-large;
    color: #ffffff !important;
    font-family: 'Raleway', sans-serif;
}


.btn-1{
    padding:0;
    margin: 10px;

    border: none;
    background: none;

    width: 372px;
    height: 63px;
    left: 534px;
    top: 611px;
    
    background: #B1BCA0;
    border-radius: 15px;

    cursor: grabbing;

}

.btn-2{
    background: none;
    border: none;


    width: 80px;
    height: 60px;
    left: 563px;
    top: 421px;
    
    background: #B1BCA0;
    border-radius: 15px;
    cursor: auto;

}

.btn-dropdown-1{
    border: none;
    background: none;

    width: 75px;
    height: 60px;
    left: 563px;
    top: 421px;
    
    background: #B1BCA0;
    border-radius: 15px;
}

select{
    border-radius: 5px;
}

.hidden1{
    display: none !important;
}

#block{
    display: block !important;
}

#longerSleep{
    margin-top: 50px;
}

.button-anchor{
    color: #ffffff !important;
}


.transition-fade {
    transition: 0.4s;
    opacity: 1;
  }
  
  html.is-animating .transition-fade {
    opacity: 0;
  }