html,body{
    background-color: #D8DDCF !important;
    vertical-align: baseline;
}

h1, h2, h3, h4, h5{
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}

a{
    text-decoration: none !important;
    color: black !important;
}

.hidden1{
    display: none !important;
}

#block{
    display: block !important;
}

.text-center{
    text-align: center;
}

li{
    display: inline-flex;
}

.nav-link{
    font-family: 'Raleway', sans-serif;
    font-size: xx-large;
    list-style-type: none;

}

#whysleep{
    text-decoration: underline 0.15rem;
    float: right;
    padding-right: 2.5rem;
}

.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

.btn-text{
    font-size: xx-large;
    color: #ffffff !important;
    font-family: 'Raleway', sans-serif;
}

.btn-1{
    padding:0;
    margin: 10px;

    border: none;
    background: none;

    width: 372px;
    height: 63px;
    left: 534px;
    top: 611px;
    
    background: #B1BCA0;
    border-radius: 15px;

    cursor: grabbing;

}

.btn-2{
    background: none;
    border: none;


    width: 80px;
    height: 60px;
    left: 563px;
    top: 421px;
    
    background: #B1BCA0;
    border-radius: 15px;
    cursor: auto;

}

.btn-dropdown-1{
    border: none;
    background: none;

    width: 75px;
    height: 60px;
    left: 563px;
    top: 421px;
    
    background: #B1BCA0;
    border-radius: 15px;
}

select{
    border-radius: 5px;
}

#longerSleep{
    margin-top: 50px;
}

.button-anchor{
    color: #ffffff !important;
}

option{
    font-size: x-large;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;

}

.none{
    display: none;
}

.block{
    display: block !important;
}

#print-now-results{

}

.result-container{
    justify-content: center;
    align-items: center;


    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;

    width: 180px;
    height: 75px;
    
    color: #ffffff;
    background: #B1BCA0;
    border-radius: 15px;
    font-weight: bold;
}

#github{
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 800px) {
    #whysleep {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .parent {
        padding: 0;   
    }
}

@media screen and (max-width: 1000px) {
    body {
        overflow: visible !important;   
    }
}

